.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #faf9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #30313d;
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__ellipsis--notif {
  background-color: tomato;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
